# Go hardware_store (.env is used by docker-compose env_file)
CONFIG_PATH=/app/config/local.yaml
APP_ENV=local
SERVER_PORT=8081

# Hardwarestore Postgres (service: db-hardwarestore)
PSQL_NAME=hardwarestore
PSQL_USER=postgres
PSQL_PASSWORD=postgres
PSQL_READ_USER=read_user
PSQL_READ_PASSWORD=read_password
DATABASE_URL=postgres://postgres:postgres@db-hardwarestore:5432/hardwarestore?sslmode=disable

# pgAdmin (used by compose)
PGADMIN_EMAIL=admin@test.com
PGADMIN_PASSWORD=mypassword123

# Domain for nginx
DOMAIN_NAME=local.hardwarestore.com

# Auth (shared between services)
APP_ID=e09906ec-980c-4dd0-9251-c87105817550
APP_SECRET=change_me

# Photo-service sharded DB (used by src/docker-compose.yml)
PHOTO_SHARD_0_DSN=postgresql+psycopg2://postgres:postgres@db-photos:5432/photos0
PHOTO_SHARD_1_DSN=postgresql+psycopg2://postgres:postgres@db-photos:5432/photos1
PHOTO_SHARD_2_DSN=postgresql+psycopg2://postgres:postgres@db-photos:5432/photos2
PHOTO_SHARD_3_DSN=postgresql+psycopg2://postgres:postgres@db-photos:5432/photos3

GOOGLE_CLIENT_ID="твой"
GOOGLE_CLIENT_SECRET="твой"
GOOGLE_REDIRECT_URI=http://localhost/api/v1/auth/google/callback
OAUTH_JWT_EXPIRATION=24h