# Hardware Store (Go) example env
CONFIG_PATH=/app/config/local.yaml
APP_ENV=local
SERVER_PORT=8081

# Postgres (service: db-hardwarestore)
PSQL_NAME=hardwarestore
PSQL_USER=postgres
PSQL_PASSWORD=postgres
PSQL_READ_USER=read_user
PSQL_READ_PASSWORD=read_password
DATABASE_URL=postgres://postgres:postgres@db-hardwarestore:5432/hardwarestore?sslmode=disable

# Auth (gRPC SSO)
APP_ID=e09906ec-980c-4dd0-9251-c87105817550
APP_SECRET=change_me

# Kafka consumer (enable only on app-main)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=product_updates
KAFKA_GROUP_ID=hardware_store_gateway
KAFKA_CONSUMER_ENABLED=1

